{% extends "base.html" %}
{% block content %}
<body  style="padding: 20px;">
   <div class="card-body">
      <h4 style="font-weight: bolder; font-size: 200%;">Add new task</h4>
      <hr>

      {%- for category, message in get_flashed_messages(with_categories = true) %}
      <div class="alert alert-danger">
         {{ message }}
      </div>
      {%- endfor %}
      <form action="{{ request.path }}" method="POST" style="font-size: 150%">

         <label for="name" style="font-weight: bold;">Task title:</label>
         <input type="text" id="name" class="form-control form-control-custom" name="name" placeholder="" value="" /><br>

         <label for="name" style="font-weight: bold;">Task Description:</label>
         <input type="text" id="name" class="form-control form-control-custom" name="name" placeholder="" value="" /><br>

         <label for="animal" style="font-weight: bold;">Priority:</label>
         <select name="animal" id="animal" class="form-select form-control-custom">
         </select>
         <br>

         <hr>
         <a type="button" class="btn btn-danger btn-md text-white" href="{{ url_for('index') }}">Cancel</a>
         <button type="submit" class="btn btn-success btn-md text-white">Add</button>
      </form>
   </div>
</body>
{% endblock %}