{% extends "base.html" %}
{% block content %}
<body  style="padding: 20px;">
<div class="card-body">
    <a type="button" style="display:inline-block; float:right;"
       class="btn btn-warning btn-md text-black fw-bold" href="{{ url_for('add') }}">Add Task</a>
    <h4 style="font-weight: bolder; font-size: 200%;">Task List</h4>
    <table class="table table-borderless" style="font-size: 150%;">
        <thead>
            <tr>
                <th scope="col">Task</th>
                <th scope="col">Description</th>
                <th scope="col">severity</th>
            </tr>
        </thead>
        <tbody>
            {% for pet in pets %}
            <tr>
                <td>{{ pet.name }}</td>
                <td>{{ pet.animal }}</td>
                <td>{{ pet.species }}</td>
                <td>
                    <div class="btn-group" role="group">
                        <a type="button" style="margin: 2px;" class="btn btn-warning btn-md text-black"
                            href="{{ url_for('edit', pet_id=pet.id) }}">Edit</a>
                        <form class="form" method="POST" action="{{ url_for('delete', pet_id=pet.id) }}">
                            <input type="submit" value="Delete" style="margin: 2px;"
                                class="btn btn-danger btn-md text-black"
                                onclick="return confirm('Are you sure you want to delete this entry?')">
                        </form>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</body>
{% endblock %}