body {
    background-image: url("https://i.pngimg.me/thumb/f/720/7ca0953917f742a09831.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    white-space: normal;
    width: auto;
    height: auto;
}

.form-control-custom {
    min-width: 0;
    width: auto;
    display: block;
    justify-content: space-between;
}
